<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <div class="logo-header">
        <img id="sapient-logo" src="/assets/PS_Logo.png">
    </div>
    <div class="welcome">    
        <h1>Welcomes you to our Booth</h1>
        <h2>Test page</h2>
    </div>
    <button id="generateQR">Generate QR Code</button>
    <div id="qrCodeParent">
        <div id="qrCodeContainer"></div>
        <div id="redirectButton"></div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>